{% extends 'base.html' %}
{% block title %}Job Detail{% endblock %}
{% block content %}

<style>
.is-bordered {
    border: 4px solid #524a4a; /* Set the border width and color */
    padding: 10px; /* Add padding for spacing between content and border */
}


.email-settings-card {
    padding: 15px; /* Add padding for spacing between content and border */
    border: 2px solid #ccc; /* Border styling */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow effect */
    background-color: #f9f9f9; /* Background color */
}

.email-settings-card .title {
    font-size: 1.5rem; /* Larger title font size */
    margin-bottom: 10px; /* Spacing below title */
}

.email-settings-card .email-icon {
    color: #3498db; /* Icon color */
}

.email-settings-card ul {
    margin-top: 10px; /* Spacing between text and icon */
}

.email-settings-card ul li {
    font-size: 1.2rem; /* Larger text font size */
    margin-bottom: 5px; /* Spacing between list items */
}

</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>




<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4723D9;">
    <div class="container">
      <!-- Custom CSS class for styling -->
      <a class="navbar-brand custom-title" style="color: #ffffff; font-weight: bold;">Settings</a>
    </div>

  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center mt-8">
        <div class="col-md-6 text-center">
    </div>
</div>


<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-white is-bordered email-settings-card">
            <p class="title">Team</p>
            <ul>
                <li><a href="{% url 'user_list' %}">Team Members</a></li>


            </ul>
          </article>
          <article class="tile is-child notification is-white is-bordered email-settings-card">
            <p class="title">User Settings</p>

                <ul>
                  <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                    <li>Time Zone</li>
                </ul>

          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-white is-bordered email-settings-card">
            <p class="title">Email Templates</p>

                <ul>
                    <li><a href="{% url 'list_email_templates' %}">View Templates</a></li>
                    <li><a href="{% url 'create_email_template' %}">Add Template</a></li>
                </ul>

          </article>
        </div>
        
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-white is-bordered email-settings-card">
          <p class="title">Calls </p>
            <ul>
                <li>Numbers</li>
                <li>Recording</li>
                <li>Text Messaging</li>
                <li>Default Country Code</li>
            </ul>
        </article>
      </div>
      
    </div>

    <div class="tile is-parent">
      <article class="tile is-child notification is-white is-bordered email-settings-card">
          <p class="title">Email Settings</p>
          <ul>
            <li><a href="{% url 'email_accounts' %}">Email Account</a></li>
            <li><a href="{% url 'email_signature_list' %}">Email Signatures</a></li>
            <li>Default Font</li>
            </ul>
        </div>
      </article>
    </div>

  </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

