{% extends 'base.html' %}

{% block title %}Job Detail{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row enhanced-row bg-light py-2 px-4  align-items-center shadow-sm" style="border-top: 2px solid black; border-bottom: 2px solid black; margin-bottom: 2px;">
        <!-- Job title and client to the left -->
        <div class="col-md-2 d-flex align-items-center">
            <h6 class="mb-0 spacer-right text-primary"><strong>{{ job.job_title }}|</strong></h6>
            <span class="text-muted spacer-left"><strong>|{{ job.client.code }}</strong></span>
        </div>
        <!-- Metrics centered -->
        <div class="col-md-9 d-flex align-items-center justify-content-center">
            <span class="metric spacer-right"><i class="fas fa-users"></i> <strong>Sourced:</strong> <strong>{{ total_subs }}</strong></span>|
            <span class="metric spacer-right text-danger"><i class="fas fa-times"></i> <strong>QC Rejects:</strong> <strong>{{ qc_rejects }}</strong></span>|
            <span class="metric spacer-right text-success"><i class="fas fa-paper-plane"></i> <strong>Submitted:</strong> <strong>{{ client_submissions }}</strong></span>|
            <span class="metric spacer-right text-warning"><i class="fas fa-comments"></i> <strong>Interviews:</strong> <strong>{{ total_interviews }}</strong></span>|
            <span class="metric spacer-right text-danger"><i class="fas fa-thumbs-down"></i> <strong>Int. Rejects:</strong> <strong>{{ interview_rejects }}</strong></span>|
            <span class="metric spacer-right text-info"><i class="fas fa-star"></i> <strong>Shortlist:</strong> <strong>{{ total_shortlist }}</strong></span>|
            <span class="metric spacer-right text-success"><i class="fas fa-user-check"></i> <strong>Joinings:</strong> <strong>{{ total_joinings }}</strong></span>

        </div>
        <!-- Open days and jobs button to the right -->
        <div class="col-md-1 d-flex align-items-center justify-content-end">
            <span class="text-primary spacer-right mr-2"><i class="fas fa-clock"></i> {{ days_open }} Days</span>
            <a href="{% url 'jobs' %}" class="btn btn-sm btn-danger enhanced-btn" style="margin-left: 15px;">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
    </div>
    
    <div class="row">
        {% for stage, candidate_infos in stages.items %}
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">{{ stage }}</div>
                    <div class="card-body">
                        {% if candidate_infos %}
                            <table class="table table-borderless">
                                <tbody>
                                    {% for candidate_info in candidate_infos %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'candidate_details' candidate_id=candidate_info.candidate.id %}" class="black-link">{{ candidate_info.candidate.name }}</a>
                                              </td>
                                              <style>
                                                .black-link {
                                                  color: black; /* Set the desired text color */
                                                  font-weight: bold;
                                                }
                                              </style>
                                            <td>
                                                <!-- CV Icon linked to the CV's URL -->
                                                <a href="{{ candidate_info.candidate.cv.url }}" target="_blank" title="View CV">
                                                    <i class="fas fa-file-alt ml-2 custom-icon-color"></i>
                                                  </a>
                                            </td>
                                            <style>
                                                .custom-icon-color {
                                                  color: red; /* Change this to your desired color */
                                                }
                                              </style>
                                            <td>
                                                <!-- LinkedIn Icon linked to the LinkedIn profile URL -->
                                                <a href="{{ candidate_info.candidate.linkedin_url }}" target="_blank" title="LinkedIn Profile">
                                                    <i class="fab fa-linkedin ml-2"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{% url 'update_submission_stage' submission_id=candidate_info.submission_id %}" class="change-stage-btn" title="Change Stage">
                                                    <i class="fas fa-exchange-alt custom-icon-color"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No Candidates Here Currently.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    

    
    
    
    
    
{% endblock %}