{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Job Details{% endblock %}

{% block content %}

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4723D9;">
    <div class="container">
      <!-- Custom CSS class for styling -->
      <a class="navbar-brand text-white font-weight-bold" href="#">{{ job.job_title }}</a>
    </div>
  </nav>

<!-- Job Details Section -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-2"><strong>Location:</strong> {{ job.job_location }}</p>
                            <p class="mb-2"><strong>Experience:</strong> {{ job.job_minimum_experience }}+ Years</p>
                            <p class="mb-2"><strong>Job Type:</strong> {{ job.get_job_type_display }}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-2"><strong>Job Mode:</strong> {{ job.job_mode }}</p>
                            <p class="mb-2"><strong>Job Status:</strong> {{ job.job_status }}</p>
                            <p class="mb-2"><strong>Priority:</strong> {{ job.get_job_priority_display }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <p><strong>Work Hours:</strong> {{ job.job_work_hours }}</p>
                            <p><strong>Client:</strong> {{ job.client }}</p>
                            <p><strong>Date Added:</strong> {{ job.date_added }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <hr>

    <!-- Job Description -->
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Job Description</h2>
            <p>{{ job.job_description }}</p>
        </div>
    </div>

    <!-- Job Notes -->
    <div class="row mt-4">
        <div class="col-md-8">
            <h2>Job Notes</h2>
            <p>{{ job.job_notes }}</p>
        </div>
    </div>
</div>

{% endblock %}
